html,body{
    height: 1000px;
    background-image: url("./images/back4.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    /* background-repeat: no-repeat; */
}
#header1
{
    color: black;
    text-align: center;
}
#card1
{
    margin-left: 50px;
    margin-top: 15px;
    /* background: black; */
    opacity: 0.85;
    /* color:white; */
}
#card2
{
    margin-right: 70px;
    opacity: 0.85;
    margin-top: 15px;
}
#head1
{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}
span:before{
    content:" "; 
    display:inline-block; 
    width:32px;
}

#head1 span:nth-of-type(2)
{
  display:none;
  background-color:green;
}

#area1
{
    padding-left: 25px;
}
#list1
{
    list-style-type:square;
}
#button1
{
    margin-bottom: 15px;
}
